<main>
  <%= link_to users_path do%>
    <button type="button" class="return-button">Return</button>
  <%end%>
   
  <%= render "users/card"%>

  <section class="bio shadow">
    <h2>Bio</h2>
    <p><%= @user[:bio] %></p>
  </section>

  <%= link_to new_user_post_path(@user) do%>
    <button class="new-post-button">New post</button>
  <%end%>

  <section class="user-posts-small">
    <h2>Posts by <%=@user[:name]%></h2>
    <% @recent_posts.each do |post| %>
      <div class="post-container-small shadow">
        <div class="title-button">
        <%= link_to user_post_path(@user, post) do%>
          <%= post[:title]%>
        <%end%>
          <%= link_to user_post_path(@user, post) do%>
            <button type="button">See post</button>
          <%end%>  
        </div>
        <p><%= post[:text] %></p>
      </div>
    <% end %>
  </section>
  <%= link_to user_posts_path(@user) do%>
    <button type="button" class="see-more-button">See all posts</button>
  <%end%>
  
</main>