<div class="post-container shadow">
  <div class="post-content">
    <div class="post-main-content">
      <div class="title-button">
      <%= link_to user_post_path(@user, @post) do%>
        <%=@post[:title]%>
      <%end%>
        <a class="see-post-button" href="posts/<%=@post[:id]%>">
          <button type="button">See this post</button>
        </a> 
         
      </div>
      <p><%=@post[:text]%></p>
    </div>
    <div class="counters">
      <p>Comments: <%= @post[:comments_counter]%></p>
      <p>Likes: <%= @post[:likes_counter]%></p>
    </div>
    
  </div>
  <div class="comments-list">
    <h3>Recent comments</h3> 
    <%comments = @post.show_recent_comments%>
          
    <%comments.each do |comment|
    commenter = @users.find_by(id:comment[:author_id]) %>
      <div class="comment-container">
        <div class="commenter">
          <a href="/users/<%=commenter[:id]%>">
            <img src="<%=commenter[:photo] || image_url('no_profile_pic.png') %>" alt="<%=@user.name %>" class="user-image commenter-image" />
          </a>
          <h4><%=commenter[:name]%></h4>
        </div>
        <p><%=comment[:text]%></p>
      </div>           
    <%end%>
  </div>
</div>