<main>
  <a href="/users/<%=@user[:id]%>" class="return-button">
    <button type="button">
      Return
    </button>
  </a>

  <div class="user-card"> <%# this can be a partial %>
      <a href="/users/<%=@user[:id]%>" class="user-link">
        <img src="<%=@user.photo || image_url('no_profile_pic.png') %>" alt="<%=@user.name %>" class="user-image" />
        <h2 class="user-name"><%= @user[:name] %></h2> 
      </a>
      <p class="posts-counter">Posts: <%= @user[:posts_counter] %> </p>
  </div>

  <section class="posts-list">
    <% @posts.each do |post| %>
      <div class="post-container">
        <div class="post-content">
          <div class="post-main-content">
            <div class="title-button">
              <h3><%= post[:title]%></h3>
              <a class="see-post-button" href="posts/<%=post[:id]%>">
                <button type="button">See this post</button>
              </a>  
            </div>
            <p><%=post[:text]%></p>
          </div>
          <div class="counters">
            <p>Comments: <%= post[:comments_counter]%></p>
            <p>Likes: <%= post[:likes_counter]%></p>
          </div>
        </div>
        <div class="comments-list">
          <h3>Recent comments</h3> 
          <%comments = post.show_recent_comments%>
                
          <%comments.each do |comment|
          commenter = @users.find_by(id:comment[:author_id]) %>
            <div class="comment-container">
              <div class="commenter">
                <a href="/users/<%=commenter[:id]%>">
                  <img src="<%=commenter[:photo] || image_url('no_profile_pic.png') %>" alt="<%=@user.name %>" class="user-image commenter-image" />
                </a>
                <h4><%=commenter[:name]%></h4>
              </div>
              <p><%=comment[:text]%></p>
            </div>           
          <%end%>
        </div>
      </div>
    <%end%>
    <div class="pagination-buttons">
      <button type="button">Prev</button>
      <button type="button">Next</button>
    </div>
  </section>
</main>
